body {
   background-color: whitesmoke;
}

nav .brand-logo {
   padding: 0 10px;
   font-size: 1.1rem;
}


.hero {
   background: url(../images/teodor-skrebnev-DcIZJsskTfg-unsplash.jpg) no-repeat center center;
   background-size: cover;
   height: 50vh;
 }

 .social-links {
    display: flex;
    justify-content: space-between;
 }

 .recipe-details {
   line-height: 0.1;
   border-top: 1px solid rgb(0, 0, 0);
 }

 .recipe-img {
   object-fit: cover;
   object-position: center;
   height: 200px;
   width: 200px; 
   margin: auto;
   border-radius: 5px;
}

 .list-spacing {
   margin: 1em 0;
 }

 .flash-message h5{
   padding: 10px !important;
   border-radius: 5px;
 }

 .card-responsive {
   width: 100%;
   height: 30vh !important;
   overflow: hidden;
 }

 .placeholder-img {
   margin: auto !important;
 }

 .card-extended {
   padding: 15px;
   height: 10vh;
   border-top: 1px solid gray;
 }

 .card-details {
   padding: 10px;
 }

 .item-radius {
   border-radius: 5px;
 }

 .modal-resize {
   height: 50vh !important;
   top: 20% !important;
 }

 .border-boxes{
   border: 1px solid;
   border-radius: 5px;
   padding: 10px;
}




 @media only screen and (min-width: 360px) {
    .responsive-text {
       font-size: 1.2rem;
    }
 }

 @media only screen and (min-width: 390px) {
    .responsive-text {
       font-size: 1.224rem;
    }
 }

 @media only screen and (min-width: 420px) {
    .responsive-text {
       font-size: 1.248rem;
    }
 }

 @media only screen and (min-width: 450px) {
    .responsive-text {
       font-size: 1.272rem;
    }
 }

 @media only screen and (min-width: 480px) {
    .responsive-text {
       font-size: 1.296rem;
    }
 }

 @media only screen and (min-width: 510px) {
    .responsive-text {
       font-size: 1.32rem;
    }
 }

 @media only screen and (min-width: 540px) {
    .responsive-text {
       font-size: 1.344rem;
    }
 }

 @media only screen and (min-width: 570px) {
    .responsive-text {
       font-size: 1.368rem;
    }
 }

 @media only screen and (min-width: 600px) {
    .responsive-text {
       font-size: 1.392rem;
    }

    .vertical-align {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
 }


 @media only screen and (min-width: 630px) {
    .responsive-text {
       font-size: 1.416rem;
    }
 }

 @media only screen and (min-width: 660px) {
    .responsive-text {
       font-size: 1.44rem;
    }
 }

 @media only screen and (min-width: 690px) {
    .responsive-text {
       font-size: 1.464rem;
    }
 }

 @media only screen and (min-width: 720px) {
    .responsive-text {
       font-size: 1.488rem;
    }
 }

 @media only screen and (min-width: 750px) {
    .responsive-text {
       font-size: 1.512rem;
    }
 }

 @media only screen and (min-width: 780px) {
    .responsive-text {
       font-size: 1.536rem;
    }
 }

 @media only screen and (min-width: 810px) {
    .responsive-text {
       font-size: 1.56rem;
    }
 }

 @media only screen and (min-width: 840px) {
    .responsive-text {
       font-size: 1.584rem;
    }
 }


 @media only screen and (min-width: 870px) {
    .responsive-text {
       font-size: 1.608rem;
    }
 }

 @media only screen and (min-width: 900px) {
    .responsive-text {
       font-size: 1.632rem;
    }

    .modal-resize {
      width: 40vw !important;
      height: 45vh !important;
      top: 20% !important;
    }

    .recipe-img {

      height: 300px;
      width: 300px; 

   }

 }


 @media only screen and (min-width: 930px) {
    .responsive-text {
       font-size: 1.656rem;
    }
 }

 @media only screen and (min-width: 960px) {
    .responsive-text {
       font-size: 1.2rem;
    }
 }













