body {
   background-color: whitesmoke;
}

.hero {
    height: 50vh;
    width: auto;
    overflow: hidden;
    /* border: 1px solid red; */
 }

 .hero img {
    background-color: #cccccc;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .social-links {
    display: flex;
    justify-content: space-between;
 }

 .recipe-details {
   line-height: 0.1;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
 }

 .list-spacing {
   margin: 1em 0;
 }

 .flash-message h5{
   padding: 10px !important;
   border-radius: 5px;
 }

 .card-extended {
   padding: 15px;
 }

 .btn-radius {
   border-radius: 5px;
 }

 .modal-resize {
   width: 70vw !important;
   height: 35vh !important;
   top: 20% !important;
 }



 @media only screen and (min-width: 360px) {
    .responsive-text {
       font-size: 1.2rem;
    }
 }

 @media only screen and (min-width: 390px) {
    .responsive-text {
       font-size: 1.224rem;
    }
 }

 @media only screen and (min-width: 420px) {
    .responsive-text {
       font-size: 1.248rem;
    }
 }

 @media only screen and (min-width: 450px) {
    .responsive-text {
       font-size: 1.272rem;
    }
 }

 @media only screen and (min-width: 480px) {
    .responsive-text {
       font-size: 1.296rem;
    }
 }

 @media only screen and (min-width: 510px) {
    .responsive-text {
       font-size: 1.32rem;
    }
 }

 @media only screen and (min-width: 540px) {
    .responsive-text {
       font-size: 1.344rem;
    }
 }

 @media only screen and (min-width: 570px) {
    .responsive-text {
       font-size: 1.368rem;
    }
 }

 @media only screen and (min-width: 600px) {
    .responsive-text {
       font-size: 1.392rem;
    }

    .vertical-align {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
 }

 @media only screen and (min-width: 630px) {
    .responsive-text {
       font-size: 1.416rem;
    }
 }

 @media only screen and (min-width: 660px) {
    .responsive-text {
       font-size: 1.44rem;
    }
 }

 @media only screen and (min-width: 690px) {
    .responsive-text {
       font-size: 1.464rem;
    }
 }

 @media only screen and (min-width: 720px) {
    .responsive-text {
       font-size: 1.488rem;
    }
 }

 @media only screen and (min-width: 750px) {
    .responsive-text {
       font-size: 1.512rem;
    }
 }

 @media only screen and (min-width: 780px) {
    .responsive-text {
       font-size: 1.536rem;
    }
 }

 @media only screen and (min-width: 810px) {
    .responsive-text {
       font-size: 1.56rem;
    }
 }

 @media only screen and (min-width: 840px) {
    .responsive-text {
       font-size: 1.584rem;
    }
 }


 @media only screen and (min-width: 870px) {
    .responsive-text {
       font-size: 1.608rem;
    }
 }

 @media only screen and (min-width: 900px) {
    .responsive-text {
       font-size: 1.632rem;
    }

    .modal-resize {
      width: 35vw !important;
      height: 35vh !important;
      top: 20% !important;
    }

 }


 @media only screen and (min-width: 930px) {
    .responsive-text {
       font-size: 1.656rem;
    }
 }

 @media only screen and (min-width: 960px) {
    .responsive-text {
       font-size: 1.2rem;
    }
 }













