{% extends "base.html" %}
{% block content %}

<h2>Recipes</h2>
<div class="row">
  {% for recipe in recipes %}

  <div class="col s12 m6">
    <div class="card hoverable z-depth-2">
      <div class="card-image">
        <img class="activator responsive-img materialboxed"
        src="{{ recipe.image_url }}"
        alt="Photo of a {{ recipe.recipe_name|lower }}">

        <span class="col s12 card-title black-text white lighten-2 center-align">
          <h4>{{ recipe.recipe_name|title }}</h4>
        </span>
      </div>
      <div class="row center card-extended">
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"
          class="btn waves-effect waves-light green btn-radius">See Recipe <i class="fa-solid fa-eye"></i></a>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger center green btn-radius" href="#{{ recipe.recipe_name }}">Quck Description</a>

      <!-- Modal Structure -->
      <div id="{{ recipe.recipe_name }}" class="modal modal-fixed-footer modal-resize">
        <div class="modal-content">
          <h4>{{ recipe.recipe_name|title }}</h4>
          <p>{{ recipe.recipe_description|capitalize }}</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

  </div></div>
    </div>
    {% endfor %}
{% endblock %}