{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 class="green-text center-align">Add Category</h3>
    <!-- form -->
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_category') }}">
        <div class="card-panel item-radius">
            <!-- category name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-plus prefix green-text"></i>
                    <input id="category_name" name="category_name" minlength="3" maxlength="25" type="text"
                        class="validate" required>
                    <label for="category_name">Category Name</label>
                </div>
            </div>
            <!-- Add Category button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn-small green item-radius"
                         aria-label="Add Category">
                        Add Category <i class="fas fa-edit right"></i></button>
                    <!-- cancel button -->
                    <a href="{{ url_for('admin') }}"
                        class="waves-effect waves-light btn-small red accent-4 item-radius">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}