{% extends "base.html" %}
{% block content %}


<h3 class="green-text center-align">Add Account</h3>

<div class="row card-panel grey lighten-5 item-radius">
    <form class="col s12" method="POST" action="{{ url_for('add_account_type') }}">
        <!-- category name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-plus prefix green-text"></i>
                <input id="account_type" name="account_type" minlength="3" maxlength="25" type="text" class="validate"
                    required>
                <label for="account_type">Category Name</label>
            </div>
        </div>
        <!-- Add Category button -->
        <div class="row">
            <div class="col s12 center-align">

                <button type="submit" class="waves-effect waves-light btn-small green item-radius" alt="Add category"
                    aria-label="Add Category">
                    Add Category <i class="fas fa-edit right"></i></button>
                        <!-- cancel button -->
        <a href="{{ url_for('admin') }}"
        class="waves-effect waves-light btn-small red accent-4 item-radius">
        Cancel <i class="fas fa-times-circle right"></i>
      </a>

            </div>
        </div>
    </form>
</div>
  


{% endblock %}