{% extends "base.html" %}
{% block content %}

  <div class="hero-image">
  <div class="row">
    <div class="col center-align white-text hero-text item-radius">
      <h1 class="">Welcome to Kombuis tot Tafel</h1>
       <p>Kombuis tot tafel, literally meaning kitchen to table in the South African language of Afrikaans, brings those families recipes directly to you by inviting the community to share those almost lost recipes with others.</p>
       <p>We have created the simple yet effective website so that a community could come together and be able to find the best recipes, not from all the cookbooks, but from the people that inspired those recipes in todays cookbooks.</p>
      <p>From recipes that have been past down from generation to generation, now prepared from your kitchen to straight to the table.</p>

    </div>
  </div>
  </div>



{% endblock %}