{% extends "base.html" %}
{% block content %}

  <div class="hero-image">
  <div class="row">
    <div class="col center-align white-text hero-text item-radius">
      <h1 class="">Welcome to Kombuis tot Tafel</h1>
      <p>The home of all good recipes</p>
      <p>The home of all good recipes</p>
      <p>The home of all good recipes</p>
      <p>The home of all good recipes</p>
      <p>The home of all good recipes</p>
      <p>The home of all good recipes</p>
    </div>
  </div>
  </div>



{% endblock %}